.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #58c917;
    border-top: 0;
    font-size: max(1vw,10px);
}
.sidedar-options{
    padding-top: 50px;
    padding-left: 20%;
    flex-direction: column;
    display: flex;
    gap: 20px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
     border: 1px solid #a9a9a9;
    padding: 8px  10px;
     border-right: 0;
     border-radius: 3px 0px 0px 3px;
     cursor: pointer;

}
.sidebar-option.active{
    background-color: #f6fcf3;
    border-color: rgb(28, 100, 0);
    color: rgb(37, 194, 5);
}
@media (max-width:900px) {

    .sidebar-option p{
        display: none;
    }
}