.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;

}
.add-img-upload img{
    width: 120px;
    
}
.add-product-name .add-product-description{
    width: max(40%, 280px);

}
.add-product-name input, .add-product-description textarea{
    padding: 10px;

}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}


.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.user-table th {
  background-color: #2c3e50;
  color: white;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
