.navdar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
    width: 100%;
    height: 70px;
}
.navdar .logo{
    width: max(14%,90px);
}
.navdar .profile{
    width: 40px;
    
}
.jay{
    color: #58c917;
    font-weight: 600;
}
.logout-button-1 {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: 1040px;

}