/* .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 450px;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0,0,0,0.3);
  animation: fadeIn 0.4s ease;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.shop-btn {
  background: #ff5722;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

.shop-btn:hover {
  background: #e64a19;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.9);}
  to {opacity: 1; transform: scale(1);}
} */






.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 700px;
  height: 350px;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0,0,0,0.3);
  animation: fadeIn 0.4s ease;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.shop-btn {
  background: #ff5722;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

.shop-btn:hover {
  background: #e64a19;
}

/* Slider Styling */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  margin-top: 15px;
  border: 1px solid #c0c0c0;
}

.slide {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.slide.active {
  opacity: 1;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dote {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bbb;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active-dot {
  background: #ff5722;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.9);}
  to {opacity: 1; transform: scale(1);}
}
